@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
{
	background:#f4f4f4;
	font-family: 'Montserrat', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Arimo');
{
	background:#f4f4f4;
	font-family: 'Arimo', sans-serif;
}

body a, button{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
ul{
	padding: 0;
	margin: 0;
}
p {
	font-family: 'Arimo', sans-serif;
	color:#323232;
	font-size:1.2em;
	margin-top: 1em;
}
h1,h2,h3,h4,h5,h6,label{
	margin:0;
	font-family: 'Montserrat', sans-serif;
}
.entreg {
	max-width: 140px;
	margin-left: 70%;
	margin-top: 10px;
}
.enter, .reg:hover {
	color: #000 !important;
}
footer {
  background: #282C34;
}
.footer {
	margin-bottom: 0 !important;
}
.copyright{
	font-family: "Montserrat", sans-serif;
	color: #d2d2d2;
	margin-bottom: 2% !important;
	font-size: 0.9em;
}
.main_img {
	max-width: 200px;
}
.logo,.top-nav{
	float: left;
}
.main_link:hover,
.main_link:focus,
.main_link:hover
{
	color: #999;	
	text-decoration: none;
}

.navbar {
	background: #fff;
	border: 0;
	padding-top: 1em;
	margin-left: 20em;
}
.icon-bar {
	margin: 0;
}
.navbar-toggle {
	border: 0;
}
.menu {
	margin: 10px 0 0 7em;
}
.menu, .load {
	float: left;
}
.load {
	background: #454545;
	color: #fff;
	margin-top: 5px;
	font-weight: 700;
	margin-left: 45px;
	padding: 12px 35px 12px 35px;
}
.load:hover {
	color: rgba(255,255,255,.2);
}
.top-nav {
	padding: 4em 0 0 4em;
}
.top-nav ul li {
	display:inline-block;
}
#active::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgba(0,0,0,0.7);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}
.top-nav ul li a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #3a494c;
	text-decoration: none;
	font-weight: 700;
	font-size: 1.2em;
	margin: 0 1.1em;
	font-family: "Montserrat", sans-serif;
}
.hood {
	padding: 8px 0;
}

.hood::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: rgba(0,0,0,0.4);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.hood:hover::after,
.hood:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
/*--responsive media-quries--*/
@media(max-width: 1700px){
	.navbar {
		margin-left: 12em;
	}
}

@media(max-width: 1506px){
	.navbar {
		margin-left: 10em;
	}
}

@media(max-width: 1394px){
	.load {
		margin-left: 20px;
	}
	.menu {
		margin-left: 50px;
	}
}

@media(max-width: 1343px){
	.menu {
		margin-left: 2em;
	}
}

@media(max-width: 1268px){
	.load {
		margin-left: 5px;
	}
	.menu {
		margin-left: 20px;
	}
}

@media(max-width: 1249px){
	.navbar {
		margin-left: 4em;
	}
}

@media(max-width:1200px){
	.top-nav {
		padding: 4em 0 0 3em;
	}
	.menu {
		margin-left: 0;
		margin-right: 3em;
	}
	.load {
		margin-left: 0;
	}
}

@media(max-width: 1157px){
	.menu {
		margin-right: 20px !important;
	}
}

@media(max-width: 1128px){
	.menu {
		margin-right: 0 !important;
	}
}

@media(max-width: 1101px){
	.navbar {
		margin-left: 0;
	}
}

@media(max-width: 1049px){
	.container-fluid {
		padding-left: 0;
	} 
}

@media(max-width: 1030px){
	.load {
		padding: 10px 20px;
	}
}

@media(max-width:992px){
	.top-nav {
		padding-top: 3.5em;
	}
	.map {
		margin-left: 0 !important;
	}
	.contacts {
		margin-left: 0 !important;
	}
}

@media(max-width:966px){
	.top-nav ul li a {
		margin: 0 0.3em;
	}
	.navbar {
		margin-left: 0px;
	}
	.scroll {
		margin: 0 15px 0 15px;
	}
}

@media(max-width: 861px){
	.top-nav {
		width: 700px;
	}
	.scroll {
		margin: 0 10px 0 20px !important;
	}
	.load {
		margin-left: 15px;
	}
}

@media(max-width:768px){
	.menu {
		margin-left: 0;
	}
	.navbar {
		padding-top: 0;
	}
	.navbar-toggle {
		margin-top: 4em;
	}
	.main_img {
		max-width: 150px;
	}
	.menu {
		margin-top: 5px;
	}
	.load {
		margin-top: 0.3em;
	}
	.top-nav {
		padding-top: 0;
	}
	.scroll {
		margin: 0 10px 10px 10px;
	}
	.name {
		padding-left: 15px;
	}
	.map {
		margin-left: 4em !important;
	}
	.contacts {
		margin-left: 4em !important;
	}
}

@media(max-width: 699px){
	.menu li, .load {
		display: block !important;
	}
	.top-nav {
		padding-left: 0;
		width: auto;
		height: auto;
	}
	.menu {
		margin-top: 15px;
		margin-left: 50px;
	}
	#active::after {
		display: none;
	}
	.load {
		margin-top: 15px;
		margin-left: 20%;
	}
}

@media(max-width: 584px){
	.scroll {
		margin-bottom: 5px;
	}
	.contacts {
		margin-left: 0 !important;
	}
}

@media(max-width: 550px){
	.load {
		margin-top: 10px;
	}
	.navbar {
		margin-left: 0;
	}
}

@media(max-width:538px){
	.top-nav ul li {
	display:block;
	margin-top: 10px;
	}
	.load, .menu {
		float: none;
	}
	.load {
		margin-top: 25px;
		width: 200px;
	}
}

@media(max-width:480px){
	.map {
		margin-left: 0 !important;
	}
	.contacts {
		margin-right: 2em;
	}
	.entreg {
		margin-left: 60%;
	}
}

@media(max-width: 462px){
	.contacts {
		margin-right: 0;
	}
}

@media(max-width: 427px){
	#foo_map, #foo_cont {
		float: none;
		margin-left: 20%;
	}
	.icon_group {
		margin-left: 30% !important;
	}
}

@media(max-width: 360px){
	.top-nav {
		padding-left: 0;
		margin-left: 1em;
	}
	.entreg {
		margin-left: 50%;
	}
}

@media(max-width:320px){
	#foo_map, #foo_cont {
		margin-left: 20%;
	}
}

@media(max-width: 295px){
	#foo_map, #foo_cont {
		margin-left: 10%;
	}	
}

@media(max-width: 277px){
	.map {
		width: 110px;
	}
}

@media(max-width:250px){
	.navbar-toggle {
		margin-left: 5px;
		margin-right: 0;	
	}
	#foo_map, #foo_cont {
		margin-left: 0;
	}
}

.name {
	margin: 35px 0;
}

.photos {
	margin: 30px 25px;
	text-align: center;
	float: left;
	max-height: 500px;
}

.sensor {
	margin: 5px 0 5px 0;
	color:#8e8e8e;
	font-size:1.1em;
	line-height:1.8em;
	width: 83%;
}

.img_sensor {
	width: 300px;
}

.photos h5,
.photos .sensor {
	max-width: 405px; 
}

.photos h5 {
	color:#323232;
	font-size:1.3em;
	padding: 0.5em 0;
}

							/*	FOOTER */

footer .container .footer {
	margin: 3em 0 3em 0;
}

.footer p {
	color: #fff;
	margin-bottom: 5px;
}

.footer hr {
	background: #000; 
	height: 1px; 
	margin-top: 10px;
}

.level_1 {
	margin-top: 3em;
}

.map {
	margin-left: 30%;
	display: inline-block;
}

.map ul li {
	list-style-type: none;
	text-align: left;
}

.map_link {
	color: #d2d2d2;
	text-decoration: none;
}

.map_link:hover {
	color: #fff;
	text-decoration: none;
}

.icon_group {
	width: 100px;
	display: inline-block;
	margin-left: 42%;
	margin-top: 0;
}

.ico {
	width: 30px;
	display: inline-block;
}

.play {
	width: 145px;
}

.apple {
	width: 110px;
}

.microsoft {
	width: 105px;
	margin-left: 10px;
}

.app_links, .contacts {
	display: inline-block;
}

.contacts {
	margin-left: 30%;
}

.contacts .small {
	color: #d2d2d2;
}

.mail_tel {
	margin-top: 3px;
	padding: 0;
	font-size: 1.1em;
}

.mail_tel:first-child {
	margin-top: 2em;
}

.map p, .contacts p:first-child, .icon_group p {
	padding: 0.5em 0 !important;
}