@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
{
	background:#f4f4f4;
	font-family: 'Montserrat', sans-serif;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
ul{
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6,label,p{
	margin:0;
	font-family: 'Montserrat', sans-serif;
}
span{
	font-family: "Montserrat", sans-serif;
	color: white;
	margin-bottom: 2%;
	margin-left: 47%;
	display: inline-block;
}

.logo,.top-nav{
	float: left;
}
.main_link:hover {
	color: #999;	
	text-decoration: none;
}
.navbar {
	background: #fff;
	border: 0;
	padding-top: 3em;
}
.menu {
	margin: 10px 0 0 7em;
}
.menu, .load {
	float: left;
}
.load {
	background: #454545;
	color: #fff;
	font-weight: 700;
	margin-left: 45px;
	padding: 12px 35px 12px 35px;
}
.load:hover {
	color: rgba(255,255,255,.2);
}
.icon-bar {
	margin: 0;
}
.navbar-toggle {
	border: 0;
}
.top-nav {
	padding: 1.5em 0 0 4em;
}
.top-nav ul li {
	display:inline-block;
}
.top-nav ul li a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #3a494c;
	text-decoration: none;
	font-weight: 700;
	font-size: 1.2em;
	margin: 0 1em;
	font-family: "Montserrat", sans-serif;
}
.top-nav ul li a:hover,
.top-nav ul li a:focus {
	outline: none;
}
/* Effect 1: Brackets */
.top-nav ul li a::before,
.top-nav ul li a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.top-nav ul li a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}
.top-nav ul li a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}
.top-nav ul li a:hover::before,
.top-nav ul li a:hover::after,
.top-nav ul li a:focus::before,
.top-nav ul li a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
/*--responsive media-quries--*/
@media(max-width:768px){
span{
	margin-bottom: 5%;
	margin-left: 42%;
}
.top-nav ul li{
	text-align: center;
}
.menu {
	margin-left: 0;
}
.top-nav ul li a:hover{
	color:#279f7c;
}
}

.footer {
  background: #282C34;
	padding:3em 0em 0;
}

@media(max-width: 1394px){
	.load {
		margin-left: 0;
	}
}

@media(max-width:1199px){
.top-nav {
	padding: 1.5em 0 0 3em;
}
}

@media(max-width:1024px){
	.top-nav ul li a {
		margin: 0 0.3em;
	}
	span{
		margin-bottom: 4%;
		margin-left: 44%;
	}
}

@media(max-width:991px){
	span{
		margin-bottom: 4%;
		margin-left: 44%;
	}
}

@media(max-width:768px){
span{
	margin-bottom: 7%;
	margin-left: 39%;
}
}
@media(max-width:538px){
	.top-nav ul li {
	display:block;
	margin-top: 10px;
	}
}
@media(max-width:480px){
span{
	margin-bottom: 4%;
	margin-left: 44%;
}
}

@media(max-width:414px){
	span{
		margin-bottom: 8%;
		margin-left: 36%;
	}
}

@media(max-width:320px){

span{
	margin-bottom: 8%;
	margin-left: 33%;
}
.logo{
	width: 71%;
}
.logo img{
	width:100%;
}
.footer {
	padding: 2em 0em 0;
}
}
@media(max-width:250px){
	.navbar-toggle {
		margin-left: 5px;
		margin-right: 0;
	}
}

.sl2 {
	margin-top: 15px;
}

.sl__img {
	margin-left: 15px;
}